.CharacterCard {
	display: flex;
	flex-direction: row;
	flexWrap: wrap;
	justify-content: center;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	overflow-x: hidden;
	background-color: white;
},
.Characters {
	display: flex;
	flex-direction: row;
	flexWrap: wrap;
	padding: 20px;
}
